:root {
    --link-hover: #b82768;
}

* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* header*/
.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}
.navbar{
    background-color: #15202A;
    color: white !important;
}
.nav-link{
    color: #fff !important;
    text-decoration: none;
}
.nav-link:hover{
    color: var(--link-hover) !important;
}
.navbar-brand{
    height: 50px;
}
.primary{
    background-color: #7B1F49 !important;
    padding: 8px 18px !important;
    color: #fff !important;
    border: 1px solid #7B1F49 !important;
    font-size: 12px !important;
    margin: 0% !important;
    border-radius: 0px !important;
}
/* header*/
/*button and Input*/
.primary:hover{
    background-color: var(--link-hover) !important;
    padding: 8px 18px !important;
}
.secondary{
    background-color: #FFFFFF;
    border: 1px solid #7B1F49;
    padding: 8px 18px;
    color: #7B1F49;
    font-size: 12px;
}
.secondary:hover{
    background-color: var(--link-hover);
    padding: 8px 18px;
    color: #fff;
}
.form-control{
    padding: 8px 12px !important;
    background-color: #171717 !important;
    border: 1px solid #282828 !important;
    font-size: 12px !important;
    filter: drop-shadow(8px 10px 40px rgba(10, 10, 10, 0.25)) drop-shadow(-5px -10px 30px rgba(72, 91, 113, 0.25)) !important;
    border-radius: 0 !important;
}
/*button and Input*/
/*peragraph and heading*/
p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #EBEBF0;
    text-align: justify;
}
/*peragraph and heading*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0.75rem !important;
}
/*body*/
body{
    background-color: #222427 !important;
    color: #fff !important;
}
/*body*/
/*hero*/
.hero{    
    background-image: url(Images/Hero.png);
    background-size: cover;
    padding: 5rem 0;
}
.profiel-image img{
    width: 80%;
    height: auto;
}
/*hero*/
/*About me*/
.about-me{
    padding: 3rem 0;
}
.about-me-image img{
    width: 80%;
  height: auto;
}
/*experties*/
.col-sm-4{
    padding: 10px !important;
}
.col-sm-2{
    padding: 10px !important;
}
.Experties{
    padding: 3rem 0;
}
.experties-content{
    box-sizing: border-box;
    padding: 20px;
    background: #282A2F;
    border: 3px solid #282828;
    box-shadow: 10px 10px 40px rgba(4, 4, 4, 0.5);
    height: 100%;
    gap: 10px;
}
.image-holder{
    width: fit-content;
    background: #171717;
    border: 1px solid black;
    box-shadow: 8px 10px 40px rgba(10, 10, 10, 0.25), -5px -10px 30px rgba(72, 91, 113, 0.25);
}
.image-holder>img{
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 10px;
}

/*experties*/
/*form*/
.form-outer{
    padding: 2rem 0 !important;
}
.form-image img{
    width: 80%;
    height: auto;
}
.form{
    background: #282A2F;
    box-shadow: 10px 10px 40px rgba(4, 4, 4, 0.5);
    padding: 2rem;
    margin-bottom: 3rem;
}
/*form*/
/*footer*/
footer{
    background-color: #141414;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    gap: 40px;
}
.wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer a{
    text-decoration: none;
    color: #EBEBF0;
    transition: color 200ms ease;
}

footer a:hover{
    color: var(--link-hover)
}
.separator{
    border: 1px solid #696A6F;
}
.social-link ul li{
    list-style: none;
}
.social-link ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.social-link{
    text-decoration: none;
}
.social-image{
    width: 32px !important;
    height: auto;
}
.after-separter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*footer*/
/*about me page*/
.image-holder-small{
    width: fit-content;
    background: #171717;
    border: 1px solid black;
    box-shadow: 8px 10px 40px rgba(10, 10, 10, 0.25), -5px -10px 30px rgba(72, 91, 113, 0.25);
}
.image-holder-small>img{
    height: 50px;
    width: auto;
    padding: 10px;
}
.nav-tabs .nav-link{
padding: 8px 18px !important;
border-bottom: 2px solid #222427 !important;
}
.nav-tabs .nav-link.active {
    background-color: #222427 !important;
    color: var(--bs-nav-tabs-link-active-color);
    color: #fff !important;
    border-radius: 0;
    border-bottom: 2px solid #7B1F49 !important;
}
.nav-tabs {
    --bs-nav-tabs-border-width: none !important; 
}

/*process*/
.research-goal{
    width: 1.25rem;
    height: 1.25rem;
}
.black-circle
{
    background: #282A2F;
    box-shadow: 10px 10px 40px rgba(4, 4, 4, 0.5);
    border-radius: 100%;
    padding: 0.875rem;
    display: flex;
    align-items: flex-start;
}
.white-circle{
    border-radius: 100%;
    background: #FFFFFF;
    padding: 0.625rem;
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
}
.Outline-Cricle{
    border: 3px solid #7B1F49;
    border-radius: 100%;
    padding: 0.375rem;
    display: inline-flex;
    align-items: flex-start;
}
.separator{
    align-self: stretch;
    color: #FFFFFF;
    height: 1px;
    width: 50px;
}
.process-box{
    display: flex;
    align-items: flex-start;
    gap: 0.375rem;
}